{% extends "prob/base.html" %}

{% block content %}
   <div class="container">
      {% block body-content %}
      <h1>Imagens semelhantes!</h1>
      {% endblock %}

      <div class="jumbotron">
         <h1>Similaridade</h1>
         <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>
               <br>
               <ul>
                  <input type="file" name="myfile" class="btn btn-default btn-lg btn-block"><br>
                  <button type="submit" class="btn btn-primary btn-lg">Enviar!!!!</button>
               </ul>
            </h4>
         </form>
         {% if uploaded_file_url %}
         <p>File uploaded at: </p>
         <img src="{{uploaded_file_url}}" width="{{200}}" height="{{200}}"/>
         {% endif %}
         
      </div>
   </div>

{% endblock %}