{% extends "prob/base.html" %}

{% block content %}
   <div class="container">
      {% block body-content %}
      <h1>Carros ou motos!</h1>
      {% endblock %}

      <div class="jumbotron">
         <h1>Similaridade</h1>

         <form action="/prob/detail" method="post" class="navbar-form navbar-left">
            <div class="form-group">
               {% csrf_token %}
	         <input id="url" type="text" name="url" class="form-control" placeholder="Search">
            </div>
         </form>
         <p><a class="btn btn-primary btn-lg">Aperte Aqui!!!!</a></p>


         <!--form action="/prob/local_image/" method="post" enctype="multipart/form-data">
            <div class="file-field input-field">
               <div class="btn">
                  <span>File</span>
                  {% csrf_token %}
                  <input id="image" type="file" name="image">
               </div>
               <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                  <input type="submit" class="file-path validate waves-effect waves-light btn" value="enviar"/>
               </div>
            </div>
         </form-->

         
      </div>
   </div>

{% endblock %}
