{% extends "prob/base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		{% if uploaded_file_url %}
		<div class="row img-thumbnails">
			<div class="col-md-6">
				<p>File uploaded at: </p>
				<img src="{{uploaded_file_url}}" class="img-thumbnail" width="{{600}}" height="{{500}}"/>
			</div>
			  {% for x in images_vector %}
			  	<div class="col-md-4">
			  		<img class="img-thumbnail" src="{{x}}" width="{{400}}" height="{{300}}"/>
			  	</div>
			  {% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
